@import "./src/SCSS/variables.scss";
@import "./src/SCSS/mixins.scss";

.LeaseAccordion {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  margin-top: 20px;

  & > div {
    flex-basis: 50%;
  }
}

@include breakpoint-max($breakpointMobile) {
  .LeaseAccordion {
    display: block;
    margin-top: 10px;
  }
}
