@import "./src/SCSS/variables";

.NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $colorSecondary;

  & > p:first-child {
    font-size: 288px;
    line-height: 410.69px;
  }

  & > p:nth-last-child(n+2):not(p:first-child) {
    font-size: 36px;
    line-height: 51.34px;
  }

  & > a:last-child {
    font-size: 18px;
    line-height: 25.67px;
    margin-top: 146px;
    color: $colorSecondary;
  }
}
