@import "./src/SCSS/variables.scss";

.Banner {
  position: relative;
  height: 223px;
  width: 100%;

  &_Text {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $colorPrimary;
    font-size: 48px;
    font-weight: 300;
    z-index: 999;
  }
}
