@import "./src/SCSS/variables.scss";
@import "./src/SCSS/mixins";

.Banner {
  position: relative;
  height: 223px;
  width: 100%;
  margin-top: 20px;

  &_Text {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $colorPrimary;
    font-size: 48px;
    font-weight: 300;
    z-index: 999;
  }
}

@include breakpoint-max($breakpointMobile) {
  .Banner {
    height: 111px;
    margin-top: 10px;
    & > img {
      border-radius: 10px;
    }
    & > .ImageGradient {
      border-radius: 10px;
    }
    &_Text {
      font-size: 24px;
      line-height: 24px;
    }
  }
}
