@import "../../SCSS/variables";

.Lease {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
  margin-top: 20px;
  column-gap: 20px;
  row-gap: 20px;

  &Card {
    position: relative;
    height: 340px;
    flex-basis: 31%;
    background: linear-gradient(180deg, $colorSecondary 0%, rgba(0, 0, 0, 0.6) 100%), $colorSecondary;
    border-radius: 10px;

    &:hover {
      opacity: 0.9;
    }

    &Title {
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-size: 18px;
      font-weight: 500;
      line-height: 25.67px;
      color: $colorPrimary;
    }
  }
}
