@import "./src/SCSS/variables.scss";

.LeaseInfoC{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: $colorSecondary;
  font-weight: 500;

  &Title {
    font-size: 36px;
    line-height: 51px;
  }

  &Location {
    font-size: 18px;
  }

  &Host {
    display: flex;
    align-items: center;
    & > div:first-child {
      font-size: 18px;
      margin-right: 15px;
    }
  }

  & > div:first-child {
    flex-basis: 80%;
  }
  & > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}
