$colorPrimary: #fdfdfd;
$colorSecondary: #FF6060;
$colorTertiary: #F7F7F7;
$colorBackgroundContainer: #F6F6F6;

$breakpointMobile: 768px;
$breakpointTablet: 1024px;
$breakpointDesktop: 1224px;
